header {
  background-color: #61787F;
  color: #FFFFFF;
  display: flex;
  padding: 16px 8px;
}

.logo {
    Width: 127px;
    Height: 94px;
    margin-right: 50px;
}

.btn {
    color: rgb(255, 255, 255);
    border-radius: 25px 25px 25px 25px;
    background-color: #FA0B0B;
    padding: 2px 4px 2px 4px;
    width: 166px;
    height: 68px;
}

.square-best-film {
    display: flex;
    flex-direction: row;
    border: black 6px solid;
}

.best-film-image {
    width: 20%;
    height: auto;
    padding: 8px 32px 8px 16px;
}

.best-film-txt {
    width: 80%;
    height: auto;
}

.bouton {
    display: flex;
    justify-content: flex-end;
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}