body {
  font-family: "Oswald", sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    margin-top: 70px;
}

p {
    font-weight: 200;
    /* font-size: 28px; */
}

header {
  background-color: #61787F;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  /* height: 122px; */
  /* line-height: 122px; */
  font-weight: 300;
  font-size: 40px;
}

.logo {
    Width: 127px;
    Height: 94px;
    /* margin-right: 50px; */
}

.button {
    display: block;
    text-decoration: none;
    background-color: #FA0B0B;
    color: white;
    width: 166px;
    height: 68px;
    text-align: center;
    align-content: center;
    font-weight: 500;
    font-size: 24px;
    border-radius: 25px;
}

.square-best-film {
    border: black 6px solid;
    padding: 8px 16px;
    display: flex;
    align-content: flex-start;
    gap: 16px;
}

.best-film-txt {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.right-layout {
    display: flex;
    justify-content: flex-end;
}
.hover .button {
    background-color: #2D2C2C;
    width: 81px;
    height: 25px;
    font-size: 14px;
}

.film {
    position: relative;
    aspect-ratio: 1;
    margin-right: 16px;
}

.film img {
    width: 100%;
    height: 100%;
}

.hover {
    position: absolute;
    width: 100%;
    top: 15%;
    bottom: 45%;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    display: none;
}

.hover h3 {
    margin: 10px;
}

.right-layout {
    display: flex;
    justify-content: flex-end;
}

.hover .right-layout {
    margin-right: 10px;
}

.film:hover .hover {
    display: block;
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 40px;
}

.detail-container .button{
    width: 214px;
    height: 36px;
}
/* 
.link-content {
  position: relative;
  width: 100%;
  height: 100%;
    object-fit: cover;
  overflow: hidden;
}

.photo-hover-top-left, .photo-hover-bottom-right {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0%;
  display: flex;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.photo-hover-top-left {
  top: 10%;
  left: 0%;
  width: 100%;
  height: 26%;
  align-items: flex-start;
  justify-content: flex-start;
}

.photo-hover-bottom-right {
  bottom: 40%;
  right: 0%;
  width: 100%;
  top: 36%;
  height: 26%;
  align-items: flex-end;
  justify-content: flex-end;

}

.link-content:hover .photo-hover-top-left, .link-content:hover .photo-hover-bottom-right {
  display: flex;
} */