/* Pied du modal pour centrer le bouton fermer */
.modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 8px;
}
/* mise en forme des balises globales*/
body {
  font-family: "Oswald", sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
}

p {
    font-weight: 200;
    /* font-size: 28px; */
}

header {
  background-color: #61787F;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  /* height: 122px; */
  /* line-height: 122px; */
  font-weight: 300;
  font-size: 40px;
}

/* mise en forme de l'en-tete */
.logo {
    Width: 127px;
    Height: 94px;
    /* margin-right: 50px; */
}

/* mise en forme des boutons réutilisables */
.button {
    display: block;
    text-decoration: none;
    background-color: #FA0B0B;
    color: white;
    width: 166px;
    height: 68px;
    text-align: center;
    align-content: center;
    font-weight: 500;
    font-size: 24px;
    border-radius: 25px;
}

.hover .button {
    background-color: #2D2C2C;
    width: 81px;
    height: 25px;
    font-size: 14px;
}

/* mise en forme de la section meilleur film */
.square-best-film {
    border: black 6px solid;
    padding: 8px 16px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px
}

.square-best-film img {
    width: 300px;
    height: 450px;
}

.best-film-txt {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.right-layout {
    display: flex;
    justify-content: flex-end;
}

/* mise en forme de la grille de films */
.film {
    position: relative;
    aspect-ratio: 1;
    margin-right: 16px;
}

.film img {
    width: 100%;
    height: 100%;
}

/* mise en forme du hover sur les films */
.hover {
    position: absolute;
    width: 100%;
    top: 15%;
    bottom: 45%;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    display: none;
}

.hover h3 {
    margin: 10px;
}

.right-layout {
    display: flex;
    justify-content: flex-end;
}

.hover .right-layout {
    margin-right: 10px;
}

.film:hover .hover {
    display: block;
}

/* mise en forme de la grille de films */
.film-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 40px;
}

.detail-container .button{
    width: 214px;
    height: 36px;
}

/* mise en forme des selecteurs de catégories et de lignes */
.select-titles {
  display: flex;
  align-items: center; 
  gap: 1em; 
}
.select-titles select {
  width: 202px;
  height: 40px;
  font-size: 16px;
}

.select-titles h1 {
  margin: 0;
}

.line-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line-selector h1 {
  margin: 0;
}

/* mise en forme du Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.7); 
}

.modal-content {
  border: #2D2C2C 6px solid;

  background-color: #fefefe;
  margin: 15% auto; 
  padding: 0px 20px;
  border: 1px solid #888;
  width: 80%; 
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-row {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.modal-infos {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal-image img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.modal-content p {
  width: 100%;
  margin: 0;
}

.modal-content a{
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: center;
  }


/* .modal-content-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 16px;
}
.modal-content- img {
    display: block
    inline-block
} */